@define-mixin arrowInput {
  outline: none;
  border: none;
  background-color: var(--light-back);
  padding: 0.5rem;
  padding-right: 2rem;
  border-radius: 0.5rem;
  color: rgba(0, 0, 0, 0.6);
  flex: 0;

  transition: background 0.3s;

  &:focus {
    background: linear-gradient(
      to right,
      rgba(255, 184, 179, 0) 50%,
      rgba(255, 244, 179, 0.8)
    );
  }

  clip-path: polygon(
    0 0,
    calc(100% - 30px) 0,
    100% 50%,
    calc(100% - 30px) 100%,
    0 100%
  );
}

.url {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;

  & > .base {
    display: flex;
    flex-direction: column;
    & input {
      font-size: 1.5rem;
    }
  }

  & > .before {
    width: 10%;
  }

  & > .after {
    width: 10%;
  }

  & > .final {
    /* color: rgba(0, 0, 0, 0.2); */
    font-size: 1rem;
    padding: 0.5rem;
    background-color: rgb(248, 248, 248);
    border-radius: 0.5rem;
    & > span {
      color: rgba(00, 50, 150, 0.8);
    }
  }

  & > .space {
    width: 10%;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  & input:not([type='radio']),
  .final {
    @mixin arrowInput;
  }
}

.schema {
  & > hr {
    color: rgba(0, 0, 0, 0.2);
    border-style: dashed;
  }
  & > h2 {
    margin: 0;
  }
  & > label {
    user-select: none;
  }
  & > input {
    @mixin arrowInput;
    font-size: 1.5rem;
  }
}

svg {
  color: rgba(0, 0, 0, 0.1);
  width: 20vw;
}

.inactiveRadio {
  opacity: 20%;
  pointer-events: none;
}

.entriesPage {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  & > .entriesBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    & > :nth-child(1) {
      flex: 0;
      outline: none;
      border: none;
      border-radius: 50%;
      @mixin svgButton;
    }
  }
  & > .entries {
    width: 100%;
    height: 100%;
  }
  & > button {
    margin: 1rem;

    align-self: center;
    @mixin svgButton;
  }
}

@define-mixin svgButton {
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  /* border: 1px solid var(--light-dark); */
  border-radius: 100%;
  aspect-ratio: 1;
  background-color: var(--light-back);

  &:hover {
    background-color: var(--dark-back);
  }
  & > svg {
    min-width: 24px;
    color: var(--light-dark);
    width: 100%;
  }
}

.nopacity {
  opacity: 20%;
  pointer-events: none;
}

.entry {
  display: flex;
  flex-direction: row;
  & > button {
    align-self: center;

    @mixin svgButton;

    &:hover {
      background-color: rgba(190, 0, 0, 0.1);
    }
  }
  & > .entryContent {
    width: 100%;
    height: 100%;
    & > * {
      padding: 1rem;
    }
  }
}

.selected {
  background: linear-gradient(
    to right,
    rgba(255, 184, 179, 0) 50%,
    rgba(255, 244, 179, 0.8)
  );
}
